<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
      <title>Condition</title>
  </head>
  <body class="coral--light">
      <form class="coral-Form coral-Form--vertical">
        <section class="coral-Form-fieldset">
          <label class="coral-Form-fieldlabel" for="js.name">Dynamic Event Name must match this field</label>
          <input type="text" name="js.name" class="coral-Textfield" id="condition" />
        </section>
      </form>
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            document.querySelector("#condition").value = info.settings.condition || "";
          }
        },
        getSettings: function() {
          return {
            condition: document.querySelector("#condition").value || ""
          }
        },
        validate: function() {
          return !!document.querySelector("#condition").value.match(/[\w\d]+/)
        }
      });
    </script>
  </body>
</html>
