<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
    <title>Data Element</title>
  </head>
  <body class="coral--light">
    <form class="coral-Form coral-Form--vertical">
      <section class="coral-Form-fieldset">
        <div>
          <h3>Previous Page Scroll Depth</h3>
          <p>
            This Data Element will save the last pages scroll depth in a session storage variable. Please specifiy the variable in the settings below.
          </p>
          <div>
            <label for="storageName">
              <input id="storageName" type="text" name="details" value="">
            </label>
          </div>
        </div>
      </section>
    </form>
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if(info.settings) {
            document.querySelector("#storageName").value = info.settings.details;
          }
        },
        getSettings: function() {
          return {
            details: document.querySelector("#storageName").value
          }
        },
        validate: function() {
          return !!document.querySelector("#storageName").value;
        }
      });
    </script>
  </body>
</html>